
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependencies
%AppData%
/node_modules
/.npm
/.bun/install

# Production
/dist
/dist-ssr

# Optional caches
.cache
.eslintcache
.vite-cache

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.npm/

# Android studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build
/android/app/src/main/assets/public

# Test coverage and results
coverage/
.tests/
test-results/
.vitest/
